



body{
  background:rgba(186, 233, 109, 0.959);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: italic; 
}

#rugby{
  background: rgb(224, 221, 44);
}

#futbol{
  background: rgb(238, 188, 114);
  
}

#tenis{
  background: rgb(214, 176, 197);
}

#golf{
  background: rgb(211, 167, 86);
}

header{
  margin-bottom: 30px;
  background:rgb(152, 211, 42);
  border-radius:0 0 16px 16px;
  
}

img{
    width: 100%;
    border-radius:12px
  }
    
header h1{
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: 44px;
    color:transparent;
    background:linear-gradient(60deg,orange,blue);
   -webkit-background-clip: text;
    
   }

nav ul li {
    font-family: 'Indie Flower', cursive;
    display: inline;
    padding: 8px;
    }

    a{
    display: inline-block;
    color: rgba(31, 20, 128, 0.582);
    margin-top: 25px;
    font-style: italic;
    font-weight: bold;
    }

article h2{
  text-align: center;
  font-size: 32px;
  font-style: italic;
  font-weight: bold;
  margin: 15px auto;
  color: rgb(138, 10, 10);
}

 p{
  text-align: center;
  padding: 25px;
  font-weight:;
  font-style: italic;
  font-size: 21px;
  color:rgb(28, 18, 223);
  text-shadow: 2px 1px 5px rgb(66, 116, 25)
}

h3{
  text-align: center;
  font-size: 32px;
  font-weight:bold;
  color:rgb(138, 10, 10);
}

#futbol h3{
  margin-top: 15px;
}
#tenis h3{
  margin-top: 25px;
}

 aside img{
  margin-top: 40px;
}

#tenis img{
  margin-top: 40px;
}

#golf article img{
  margin-top: 50px;
}



 footer{
  text-align: center;
  background: rgb(31, 46, 4);
  color:white;
  margin-top: 15px;
  border-radius: 16px 16px 0 0
}